/* :: 기초 내용 파트 open */
html, 
body{
	/* background-color : #3f50f6; */
	min-width : 1200px;
	margin : 0 auto;
	height : 100%;
}
.container {
	margin:0 auto;
	position:relative;
	/* height: 100%; */
	height : auto;
	overflow : hidden;
	/* min-width : 1600px; */
	min-width : 1200px;
	/* max-width : 1920px; */
	/* background-color : #434ff6; */
}
.container.introSort {
	height : 100%;
	overflow : initial;
}
.wrapper.introSort {
	height : 100%;
}

/* :: inO : ksg_202102101532 : [세무야] 수정을 위한 제거. */
/* .contents {
    margin-left: 180px;
    position: relative;
	width : calc(100% - 180px);
	min-height : 1190px;
	height : 100%;
	background-color : #f8f8f9;
	overflow : hidden;
	min-height : auto;
} */
/* :: inC : ksg_202102101532 : [세무야] 수정을 위한 제거. */
/* :: inO : ksg_202102101532 : [세무야] 수정된 내용.. */
.contents {
    margin-left: 180px;
    position: relative;
	width : calc(100% - 180px);
	min-height : 1190px;
	height : auto;
	background-color : #f8f8f9;
	overflow : hidden;
	min-height : auto;
}
/* :: inC : ksg_202102101532 : [세무야] 수정된 내용.. */



.contents.introSort {
	background-color : #fff;
	margin-left : 0;
	width : 100%;
	height : 100%;
	position : relative;
	text-align : center;
	border : none;
	min-height : 600px;
}
.contents.overlay:after {
	content : "";
	position : fixed;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background-color : rgba(0, 0, 0, 0.5);	
	z-index : 5;
}
/* :: 기초 내용 파트 close */


/* :: open : ksg_20210205_1601 : [세무야] 관리자 header 파트 내용. */
/* :: inO : 신규 내용 파트. */
header {
	display : block;
	position : relative;
	font-size: 0;
	height : 70px;
	line-height : 70px;
	background-color : #2e2f37;
}
header .logoCase {
    display: inline-block;
    width: 180px;
    height: 70px;
}
header .logoCase i {
	width : 100%;
	height : 100%;
	background : url("/manager/common/img/headerLogo_1.png") no-repeat 30px center / 108px 18px;
}
.btnGroup.headerMenuSort .btn {
	display: inline-block;
    color: #ffffff;
    font-size: 13px;
    padding : 0 25px;
}
.btnGroup.headerMenuSort {
	display : inline-block;
	vertical-align : middle;
}
.btnGroup.headerMenuSort * {
    vertical-align : middle;
}
.btnGroup.headerMenuSort .btn.activated {
	color : #eb6108;
}
.btnGroup.headerRightSort {
	position : absolute;
	top : 50%;
	transform : translateY(-50%);
	-webkit-transform : translateY(-50%);
	right : 60px;
}
.btnGroup.headerRightSort .btn {
	display : inline-block;
	font-size : 13px;
	color : #ffffff;
}






.tabGroup.leftSideSort {
	float : left;
	width : 180px;
	position : relative;
	font-size : 0;
	background-color : #fff;
}
.tabGroup.leftSideSort:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 5000%;
    background: #fff;
    z-index: 0;
}
.tabGroup.leftSideSort .navCon {
	position : relative;
	z-index : 1;
}
.subTabGroup.secondTabSort {
	display : none;
}
.subTabGroup.secondTabSort.activated {
	display : block;
}
.subTabGroup.secondTabSort li .tabBtn.secondTabSort {
	display : block;
	font-size : 14px;
	padding-left : 39px;
	color : #a6a7a9;
}
.leftMenuTab li {
	display : block;
}
.leftMenuTab li.firstTabSort {
	padding : 15px 30px 15px 30px;
	border-bottom : 1px solid #ebebeb;
}

.leftMenuTab li.firstTabSort .tabBtn {
    font-size: 14px;
	font-weight : 800;
}
.leftMenuTab li .tabBtn.firstTabSort span {
    vertical-align: middle;
}
.leftMenuTab li.subTabSort {
    padding: 10px 30px 10px 30px;
}
.leftMenuTab li.subTabSort .tabBtn {
	font-size : 12px;
}
.leftMenuTab li.subTabSort.fstChd {
	margin-top : 10px;
}
.leftMenuTab li.subTabSort.activated .tabBtn {
	color : #eb6108;
}
.section {
	padding : 20px 60px 0 20px;
}
.sectionHeadline {
	display : block;
	padding : 0 0 20px 0;
	position : relative;
}

.titleBox.headLineSort .titleText.mainMod {
	font-size : 18px;
	font-weight : 800;
}
.titleBox.headLineSort .titleText.subMod {
	margin-top : 5px;
	font-size : 12px;
}
/* :: inC : 신규 내용 파트. */
/* :: close : ksg_20210205_1601 : [세무야] 관리자 header 파트 내용. */


/* :: open : ksg_20210209_2119 : [세무야] 관리자 법령목록 페이지 내용. */
/* :: inO : 신규 내용 파트. */
.btnGroup.headLineSort.rightSideMod {
    position: absolute;
    top: 0;
    right: 0;
}
.btnGroup.headLineSort .btn {
    background-color: #fff;
	border : 1px solid #d9d9d9;
    width: auto;
	height : auto;
	line-height: 1;
	padding : 11px 20px;
	font-size : 16px;
}
.setField {
    display: block;
    padding: 20px 0 0 0;
	background-color : #fff;
}
.setField.searchSort {
	padding : 5px 20px;
	border-radius : 4px;
}
.setField.searchSort .searchTable th {
	text-align : left;
	font-size : 12px;
	font-weight : 800;
	padding-left : 20px;
}
.setField.searchSort .searchTable td {
	padding : 5px 7px;
	font-size : 12px;
}
/* :: inO : ksg_20210216_1442 : 추가 내용. */
.tbox.singleShort1 {
	width : 80px;
	vertical-align : middle;
	text-align : center;
}
/* :: inC : ksg_20210216_1442 : 추가 내용. */
.tbox.twinShort1 {
	width : calc(35% - 14px);
	max-width : 163px;
	margin-right : 8px;
	/* :: open : ksg_20210215_1809 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1809 : 추가 내용. */
}
.tbox.twinShort2 {
	width : 165px;
	margin-right : 8px;
	/* :: open : ksg_20210215_1809 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1809 : 추가 내용. */
}
.tbox.twinLong1 {
	width : 65%;
	max-width : 470px;
	/* :: open : ksg_20210215_1809 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1809 : 추가 내용. */
}
.tbox.twinLong2 {
	width : 500px;
	/* :: open : ksg_20210215_1809 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1809 : 추가 내용. */
}
.tbox.twinLong3 {
	width : 400px;
	vertical-align : middle;
}

.tbox.singleNorm1 {
	width : 270px;
	/* :: open : ksg_20210215_1809 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1809 : 추가 내용. */
}
.tbox.singleNorm2 {
	width : 330px;
	/* :: open : ksg_20210215_1809 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1809 : 추가 내용. */
}
.tbox.singleLong1 {
	width : 670px;
	/* :: open : ksg_20210215_1809 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1809 : 추가 내용. */
}
.tbox.singleLong2 {
	width : 495px;
	vertical-align : middle;
}

.searchBtn_fullHSort {
	display : block;
	text-align : center;
	height : 90px;
	line-height : 90px;
	width : 100px;
	background-color : #eb6108;
	font-size : 16px;
	color : #fff;
	border-radius : 4px;
}
.listField {
	display: block;
    padding: 30px 0 0 0;
    font-size: 0;
}
.headLine.listUpperSort {
	position: relative;
    margin-bottom: 10px;
    min-height: 44px;
}
.headLine.listUpperSort .ctrlBtn {
	display : inline-block;
    width: 85px;
    height: 36px;
	line-height : 36px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    font-size: 13px;
    margin-right: 10px;
	text-align : center;
}
.headLine.listUpperSort .rightPart {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
	/* :: inO : ksg_20210216_1711 : 제거 내용. */
	/* width : 100%; */
	/* :: inC : ksg_20210216_1711 : 제거 내용. */
	/* :: inO : ksg_20210216_1711 : 수정 내용. */
	width : 500px;
	/* :: inC : ksg_20210216_1711 : 수정 내용. */
}
.sbox.shortMod {
	width : 100px;
    margin-left: 8px;
}
.sbox.shortMod:first-child {
    margin-left: 0;
}
.sbox.shortMod2 {
	width : 120px;
    margin-left: 8px;
}
.sbox.shortMod2:first-child {
    margin-left: 0;
}

.headLine.listUpperSort .ctrlBtn_rSort {
	display: inline-block;
    width: 85px;
    height: 38px;
    background-color: #2fa364;
    color: #fff;
    font-size: 13px;
    margin-left: 8px;
    text-align: center;
	line-height: 38px;
    border-radius: 4px;
}
.btnGroup.searchSingleSort {
    text-align: center;
    width: 100%;
    margin: 20px auto 0 auto;
}
.btnGroup.searchSingleSort .btn.searchBtn {
    background-color: #eb6108;
    color: #fff;
    padding: 0 10px;
    min-width: 145px;
}
.tableBox {
	min-height: 666px;
	background-color : #fff;
}
/* :: inC : 신규 내용 파트. */
/* :: close : ksg_20210209_2119 : [세무야] 관리자 법령목록 페이지 내용. */

/* :: open : ksg_20210210_1622 : [세무야] 관리자 법령등록 페이지 내용. */
/* :: inO : 신규 내용 파트. */
.setField table th {
	padding: 0 30px;
    height: 62px;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    background-color: #fff;
    vertical-align: middle;
}
.setField table th.vertTopSort {
	padding-top : 12px;
	vertical-align : top;
}
.setField.regSort {
	padding : 0;
	min-height : 100%;
	margin-bottom: 20px;
	font-size : 0;
}
.setField.regSort table td {
	padding : 5px 0;
}
.setField.regSort table th {
	padding: 0 5px 0 20px;
}
.btnGroup.bottomSort {
    font-size: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.tarea.singleLong1 {
    display: block;
    resize: none;
    width: 670px;
    height: 200px;
    padding: 12px;
    font-family: "Noto Sans KR",sans-serif;
    border: 1px solid #e9ecef;
    background-color: #ffffff;
}
.btnGroup.bottomSort .btn {
    width: auto;
	height : auto;
	line-height : 1;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 20px;
	padding : 12px 50px;
}
.btnGroup.bottomSort .btn:first-child {
    margin-left: 0;
}
.btn.pageCancelMod {
    background-color: #f8f8f9;
	border: 1px solid #e1e1e1;
}
.btn.pageConfirmMod {
    background-color: #eb6108;
	color : #fff;
	border: 1px solid #e1e1e1;
}
/* :: inC : 신규 내용 파트. */
/* :: close : ksg_20210210_1622 : [세무야] 관리자 법령등록 페이지 내용. */

/* :: open : ksg_20210210_2052 : [세무야] 회원관리_회원목록 페이지 내용. */
/* :: inO : 신규 내용 파트. */
.tbox.datepickMod {
    display: inline-block;
    max-width: 125px;
}
.dateRangeSign {
    /* margin: 0 20px; */
    margin: 0 15px;
    font-size: 14px;
}
.btnGroup.dateTermSort {
    display: inline-block;
    margin-left: 15px;
    width: 270px;
    font-size: 0;
}
.btnGroup.dateTermSort .btn.activated {
    background-color: #eb6108;
    border: 1px solid #eb6108;
    color: #fff;
}
.btnGroup.dateTermSort .btn:first-child {
    margin-left: 0;
}
.btnGroup.dateTermSort .btn {
    display: inline-block;
    max-width: 85px;
    width: 16%;
    height: 38px;
    line-height: 40px;
    border: 1px solid #e9ecef;
    border-radius: 3px;
    background-color: #f4f5f7;
    text-align: center;
    margin-left: 10px;
    font-size: 14px;
}
input.tbox.datepickMod:read-only {
    background-color: #fff;
}
.inListBtnGroup {
    display: block;
    font-size: 0;
    margin: 10px 0 0 0;
}
.inListBtnGroup .btn.borderedSort {
    background-color: #fff;
	border : 1px solid #d9d9d9;
    vertical-align: middle;
	font-size : 13px;
	width : 60px;
	height : 36px;
	line-height : 38px;
}
.regTblBtn_inputRSort {
	display : inline-block;
	margin-left : 8px;
	height : 40px;
	line-height : 40px;
	padding : 0 20px;
	color : #fff;
	font-size : 13px;
	border-radius : 4px;
	background-color : #2e2f37;
	/* :: open : ksg_20210215_1808 : 추가 내용. */
	vertical-align : middle;
	/* :: close : ksg_20210215_1808 : 추가 내용. */
}
.regTblBtn_inputRSort.leftLooseSort {
	margin-left : 20px;
}
.sbox.normMod1 {
    width: 165px;
    margin-left: 8px;
}
.sbox.normMod1:first-child {
    margin-left: 0;
}
.measureGaugeTxt {
	font-size : 12px;
	margin-left : 8px;
}
.measureGaugeTxt.leftTightSort {
	margin-left : 0;
}
.btn_inListDl {
	display : inline-block;
	height : 38px;
	line-height : 38px;
	padding : 0 18px;
	background-color: #2e2f37;
    color: #fff;
	border-radius : 4px;
}
/* :: inC : 신규 내용 파트. */
/* :: close : ksg_20210210_2052 : [세무야] 회원관리_회원목록 페이지 내용. */

/* :: open : ksg_20210212_1303 : [세무야] 전문가관리_전문가목록 페이지 내용. */
/* :: inO : 신규 내용 파트. */
.radioGroup.inList_vert1 {
	width : 70px;
	margin : 0 auto;
	text-align : left;
}
.radioGroup.inList_vert1 .radioCase {
	display : block;
	margin-left : 0;
	margin-top : 10px;
}
.radioGroup.inList_vert1 .radioCase:first-child {
	margin-top : 0;
}
/* :: inC : 신규 내용 파트. */
/* :: close : ksg_20210212_1303 : [세무야] 전문가관리_전문가목록 페이지 내용. */


/* :: open : ksg_20210212_1321 : [세무야] 전문가관리_전문가등록 페이지 내용. */
.vertCase_inReg {
	margin-top : 10px;
}
.vertCase_inReg.fstChd {
	margin-top : 0;
}
.voidSpace_invis {
	visibility : hidden;
}
.imgUploadBox.textOnlySort {
    display: block;
    position: relative;
    width: 100%;
	height: 40px;
    font-size: 0;
    line-height: 40px;
}
.imgUploadBox.textOnlySort .fileNameCase {
    width: 670px;
    border: 1px solid #e9ecef;
    background-color: #fff;
	height: 40px;
    vertical-align: middle;
    display: inline-block;
}
.imgUploadBox.textOnlySort .filePholder {
    display: none;
}
.imgUploadBox.textOnlySort .fileName.uploadSort {
    position: absolute;
    top: 0;
    left: 25px;    
    font-size: 12px;
	line-height : 40px;
}
.imgUploadBox.textOnlySort canvas {
    display: none;
}
.imgUploadBox.textOnlySort img {
    display: none;
}
.imgUploadBox.textOnlySort .btn.imgDownMod {
	height : 40px;
	line-height : 40px;
	vertical-align : middle;
	background-color : #eb6108;
	padding : 0 10px;
	color : #fff;
	font-size : 13px;
}
.imgUploadBox.textOnlySort .btn.imgDelMod {
	height : 40px;
	line-height : 40px;
	vertical-align : middle;
	padding : 0 10px;
	background-color: #2e2f37;
	color : #fff;
	font-size : 13px;
}
/* :: close : ksg_20210212_1321 : [세무야] 전문가관리_전문가등록 페이지 내용. */

/* :: open : ksg_20210215_1557 : [세무야] 고객지원관리_뉴스기사 페이지 내용. */
.imgCase_inList {
	position : relative;
	display : block;
	margin : 0 auto;
	width : 70px;
	height : 70px;
}
.imgCase_inList:after {
	content : "";
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	background : url("/manager/common/img/emptyImg.png") no-repeat center / cover;
	z-index : 1;
}
.imgCase_inList img {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	z-index : 2;
	background-color : #fff;
}
/* :: close : ksg_20210215_1557 : [세무야] 고객지원관리_뉴스기사 페이지 내용. */

/* :: open : ksg_20210215_1741 : [세무야] 설정관리_사이트설정 페이지 내용. */
.setGroup_word {
	display : inline-block;
	border : 1px solid #e9ecef;
	width : 668px;
	min-height : 27px;
	line-height : 1;
	vertical-align : middle;
	font-size : 0;
	padding : 5.5px 11px 5.5px 11px;
}
.setGroup_word .setWord {
	display : inline-block;
	padding : 5px 20px 5px 0;
}
.setGroup_word .setWord span {
	font-size : 12px;
	vertical-align : middle;
}
.setGroup_word .setWord .delBtn_setSort {
	display : inline-block;
	margin : 0 0 0 8px;
	width : 15px;
	height : 15px;
	background : url("/manager/common/img/close_setGroup.png") no-repeat center / cover;
	vertical-align : middle;
}
/* :: close : ksg_20210215_1741 : [세무야] 설정관리_사이트설정 페이지 내용. */


/* :: open : ksg_20210215_2224 : [세무야] 대시보드 페이지 내용. */
.countRowComplex_status {
	position : relative;
}
/* :: inO : ksg_20210218_1454 : 추가 내용. */
.countRowComplex_status + .countRowComplex_status {
	margin-top : 20px;
}
/* :: inC : ksg_20210218_1454 : 추가 내용. */
.countGroup_status {
	display : inline-block;
	width : calc(33.33% - 30px);
	padding : 10px;
	/* :: inO : ksg_20210218_1453 : 삭제 내용. */
	/* border : 1px solid #e9ecef; */
	/* :: inC : ksg_20210218_1453 : 삭제 내용. */
	/* :: inO : ksg_20210218_1453 : 추가 내용. */
	background-color : #fff;
	/* :: inC : ksg_20210218_1453 : 추가 내용. */
}
.countGroup_status.leftSort {
	position : relative;
}
.countGroup_status.rightSort {
	position : absolute;
	right : 10px;
}
.countGroup_status.centerSort {
	position : absolute;
	left : calc(50% - 3px);
	transform : translateX(-50%);
	-webkit-transform : translateX(-50%);
}
.setField.currGroupSort {
    padding: 5px 10px;
    border-radius: 4px;
	/* :: inO : ksg_20210218_1452 : 추가 내용. */
	background-color : transparent;
	/* :: inC : ksg_20210218_1452 : 추가 내용. */
}
.countGroup_status .groupTitle_main {
	display : block;
	font-size : 14px;
	font-weight : 800;
	margin-bottom : 15px;
}
.countGroup_status .groupInfo_status {
	display : block;
	width : 100%;
}
.countGroup_status .groupImgBox_main {
	display : inline-block;
	/* :: inO : ksg_20210218_1435 : 기존내용 삭제. */
	/* width : 150px;
	height : 150px; 
	float : left;	*/
	/* :: inC : ksg_20210218_1435 : 기존내용 삭제. */	
	/* :: inO : ksg_20210218_1435 : 추가 내용. */
	width : 80px;
	height : 80px;
	/* :: inC : ksg_20210218_1435 : 추가 내용. */
	background-color : #e9ecef;
	vertical-align : top;
	
}
.countGroup_status .groupImgBox_main img {
	width : 100%;
	height : 100%;
}
.countGroup_status .groupCountBox {
	display : inline-block;
	vertical-align : top;
	/* :: inO ksg_20210218_1438 : 삭제 내용. */
	/* float : right;
	width : calc(100% - 220px); */
	/* :: inC ksg_20210218_1438 : 삭제 내용. */
	/* :: inO ksg_20210218_1438 : 추가 내용. */
	margin-left : 60px;
	width : calc(100% - 150px);
	/* :: inC ksg_20210218_1438 : 추가 내용. */
}
.countGroup_status .rowLayer {
	/* :: inO : ksg_20210218_1442 : 삭제 내용. */
	/* border-bottom : 1px solid #e9ecef;
	padding-bottom : 10px;
	padding-top : 10px; */
	/* :: inC : ksg_20210218_1442 : 삭제 내용. */
	/* :: inO : ksg_20210218_1442 : 추가 내용. */
	padding-top : 14px;
	/* :: inC : ksg_20210218_1442 : 추가 내용. */
}
/* :: inO : ksg_20210218_1451 : 추가 내용. */
.countGroup_status .rowLayer:first-child {
	padding-top : 0;
}
/* :: inC : ksg_20210218_1451 : 추가 내용. */

/* .countGroup_status .rowLayer.lstChd {
	border-bottom : none;
	padding-bottom : 0;
	padding-top : 10px;
} */
.linkBtn_more {
	position : absolute;
	top : 10px;
	right : 15px;
	font-size : 12px;
	text-decoration: underline;
	text-underline-position: under;
}
.linkBtn_more.sectionHeadSort {
	top : 2px;
}
.rowTitle_left {
	display : inline-block;
	font-size : 12px;
	font-weight : 600;
	/* :: inO : ksg_20210218_1444 : 삭제 내용. */
	/* min-width : 150px; */
	/* :: inC : ksg_20210218_1444 : 삭제 내용. */
	/* :: inO : ksg_20210218_1444 : 추가 내용. */
	min-width : 80px;
	/* :: inC : ksg_20210218_1444 : 추가 내용. */
}
.rowCounter_right {
	font-weight : 800;
	font-size : 12px;
	padding-left : 20px;
	/* :: inO : ksg_20210218_1445 : 삭제 내용. */
	/* color : blue; */
	/* :: inC : ksg_20210218_1445 : 삭제 내용. */
	/* :: inO : ksg_20210218_1445 : 추가 내용. */
	color : #d55b0d;
	/* :: inC : ksg_20210218_1445 : 추가 내용. */

}
.inTblGear_clickable {
	cursor : pointer;
}
.emptyTxt_horLine {
	font-size : 20px;
	font-weight : 800;
}
/* :: close : ksg_20210215_2224 : [세무야] 대시보드 페이지 내용. */

/* :: open : ksg_20210216_1453 : [세무야] 회원관리_회원목록 페이지 내용. */
.popup {
    display: none;
    position: fixed;
	z-index: 101;
	border : 1px solid #e9ecef;
	background-color : #f9f9f9;
	border-radius : 3px;
}
.popup.centerSort {
    position: fixed;
    top: 51%;
    left: 51%;
    transform: translate(-50%, -50%);
}
.popup .popupCon {
    position : relative;
    min-width : 400px;
    padding : 20px 0;
}
.popup.deliveryInfoPop .popupCon {
	width : 222px;
	min-width : auto;
}	

.popup .btn.flatLong {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
}

.popup.centerSort .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px;
}
.titleBox.popupSort {
	display: block;
	position : relative;
    font-size: 14px;
	font-weight : 800;
	padding-top : 20px;
	padding-left : 20px;
}
.popup .btnGroup.verticalBottomSort .btn.searchSort {
	display : inline-block;
}
.btn.closeBtn {
	position : absolute;
	top : 20px;
	right : 20px;
	width : 11px;
	height : 11px;
	background : url('/manager/common/img/icon_close.png') no-repeat center / cover;
}
.btnGroup.underPopSort {
	text-align : center;
	margin-top : 20px;
}
.popup.memoPop .popupCon {
	min-width : 300px;
}
.popup .sectionCon.scrollSort {
	max-height : 600px;
	height : calc(100% - 20px);
	overflow-y : scroll;
	padding : 0 10px;
}
.popup .section.regSort {
	padding : 0;
}
.popup .sectionHeadline {
	padding : 0 20px;
}
.btn.underPop_smoke {
	width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
	background-color: #2e2f37;
    color: #fff;
}
.btn.underPop_orange {
	width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
	background-color: #eb6108;
    color: #fff;
}
/* :: close : ksg_20210216_1453 : [세무야] 회원관리_회원목록 페이지 내용. */

/* :: open : ksg_20210216_1632 : [세무야] 결제관리_결제내역 페이지 내용. */
.popTxtBox_single1 {
	padding : 20px;
	text-align : center;
}
/* :: close : ksg_20210216_1632 : [세무야] 결제관리_결제내역 페이지 내용. */

/* :: open : ksg_20210216_1709 : [세무야] 전문가관리_전문가세무상담내역 페이지 내용. */
.ctrlBtn_lSort {
	display: inline-block;
    width: 90px;
    height: 38px;
    background-color: #2e2f37;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 38px;
    border-radius: 4px;
}
.btnLayer_inslist {
	display : block;
	margin : 3px auto 0 auto;
	text-align : left;
	width : 105px;
}
.btnLayer_inslist.fstChd {
	margin-top : 0;
}
/* :: close : ksg_20210216_1709 : [세무야] 전문가관리_전문가세무상담내역 페이지 내용. */













/* ::  open : ksg_20210218_1957 : [세무야] 로그인 페이지 내용. */
.section.loginSort {
	position : absolute;
	top : 50%;
	transform : translateY(-50%);
	-webkit-transform : translateY(-50%);
	width : 100%;
	height : calc(100% - 300px);
	max-height : calc(100% - 50px);
	min-height : 500px;
}
.loginInfoGroup {
	display : block;
	width : 600px;
	margin : 0 auto;
	border-radius : 30px;
	background-color : #fff;
	padding : 50px 0;
	height : calc(100% - 100px);
	max-height : 905px;
	position : relative;
	max-width : 1280px;
	border : 4px solid #eb6108;
}



.loginInnerInfo {
	position : absolute;
	top : 50%;
	transform : translateY(-50%);
	-webkit-transform : translateY(-50%);
	width : 100%;

}

.iconBox.loginSort {
	display : block;
	width : 388px;
	text-align : left;
	padding : 0 6px;
	margin : 0 auto;
}
.titleBox.loginSort {
	display : block;
	font-size : 50px;
	letter-spacing : 10px;
}
.subTitleBox.loginSort {
	margin-top : 30px;
	font-size : 20px;
	color : #969696;
}
.inputGroup.loginSort {
	display : block;
	width : 400px;
	margin : 60px auto 30px auto;
}
.btn.loginBtn {
	display : block;
	width : 400px;
	height : 50px;
	line-height : 50px;
	border-radius : 25px;
	background-image : linear-gradient(to right, #eb6108, #eb6108 100%);
	margin : 0 auto;
	color : #fff;
}
/* ::  close : ksg_20210218_1957 : [세무야] 로그인 페이지 내용. */

/* :: open : ksg_20210221_2149 : [세무야] 전문가 경력 관리 페이지 내용. */
.btnGroup_orderChange {
	font-size : 0;
}
.btnGroup_orderChange .changeBtn {
	display : inline-block;
	margin-left : 2px;
}
.btnGroup_orderChange .changeBtn:first-child {
	display : inline-block;
	margin-left : 0;
}
/* :: close : ksg_20210221_2149 : [세무야] 전문가 경력 관리 페이지 내용. */